# Realizar Predicciones con Modelo Previamente Exportado

## Importar Librerias

In [276]:
import os
import tensorflow as tf
import pandas as pd

## Crear Variables Globales

In [277]:
dir = os.path.dirname(os.path.realpath('__file__'))

CLASS_OF_INCOME = [" <=50K", " >50K"]

## Cargar Modelo

Carga el modelo desde el directorio de exportación y crea una función de predicción.

In [278]:
predict_fn = tf.contrib.predictor.from_saved_model(dir + '/export/1536099145')

INFO:tensorflow:Restoring parameters from /notebooks/export/1536099145/variables/variables

## Obtener Datos

Obtener los datos nuevos en base a los cuales se desean hacer predicciones

In [279]:
# extraer datos previamente guardados
inputs = pd.read_csv('./testing_data/testing_data.csv')

# guardar resultados de prediccion (para este conjunto de datos si se cuenta con ellos)
true_results = inputs['income_bracket']

# quitar resultados de las columnas de datos
inputs = inputs.drop('income_bracket', axis=1)

## Conversion de Input Data

Convertir datos de entrada (input data) a strings serializados.

In [280]:
examples = []

for index, row in inputs.iterrows():
    feature = {}
    for col, value in row.iteritems():
        if 'int' in str(type(value)):
            feature[col] = tf.train.Feature(float_list=tf.train.FloatList(value=[value]))
        elif 'str' in str(type(value)):
            feature[col] = tf.train.Feature(bytes_list=tf.train.BytesList(value=[str.encode(value)]))
    
    example = tf.train.Example(
        features=tf.train.Features(
            feature=feature
        )
    )
    examples.append(example.SerializeToString())

## Realizar predicciones

In [281]:
predictions = predict_fn({'inputs': examples})

In [38]:
# predictions format 

# {
#     'classes': 
#     array([
#         [b'0', b'1'],
#         [b'0', b'1'],
#         [b'0', b'1'],
#         ...,
#         [b'0', b'1'],
#         [b'0', b'1'],
#         [b'0', b'1']
#     ], dtype=object),
#     'scores': 
#     array([
#         [9.9974567e-01, 2.5436125e-04],
#         [5.6878764e-02, 9.4312125e-01],
#         [5.7067543e-01, 4.2932451e-01],
#         ...,
#         [9.8696136e-01, 1.3038697e-02],
#         [9.9976856e-01, 2.3141838e-04],
#         [3.3010733e-31, 1.0000000e+00]
#     ], dtype=float32)
# }

## Procesar Predicciones

Procesar las predicciones para obtener el resultado de predicción (CLASE DE INGRESO **<=50K** o **>50K**) y la probabilidad (%) para este resultado.

En este caso se busca la clase con mayor probabilidad (mas cercana al 100%) y se agrega al DataFrame de **inputs** para identificar los resultados de cada fila de datos ingresados.

In [285]:
# diccionario que guarda los valores de predicción
probabilities = {'CLASS_OF_INCOME': [], 'PROBABILITY %': []}

for classes, scores in zip(predictions['classes'], predictions['scores']):
    '''
    la probabilidad mayor
    
    Ej:
    
    [5.6878764e-02, 9.4312125e-01]
    
    probabilidad mayor: 9.4312125e-01
    
    '''
    probability = float("%.2f" % (scores.max(axis=0) * 100))
    
    '''
    la posicion en la que se encuentra la probabilidad mayor en el np.ndarray()
    
    Ej:
    
    [5.6878764e-02, 9.4312125e-01]
    
    posicion: 1 
    
    '''
    index_of_max = list(scores).index(scores.max(axis=0))
    
    '''
    la clase a la que pertenece segun la posicion de la probabilidad mayor

    Ej:

    [b'0', b'1']

    posicion 1 --> pertenece a la clase 1
    
    '''
    class_of_max = list(classes)[index_of_max]
    
    # llenar el diccionario
    probabilities['CLASS_OF_INCOME'].append(CLASS_OF_INCOME[int(class_of_max)])
    probabilities['PROBABILITY %'].append(probability)
    
# convertir dict() a Pandas DataFrame
probabilities = pd.DataFrame(probabilities)

inputs['CLASS_OF_INCOME'] = probabilities['CLASS_OF_INCOME']
inputs['PROBABILITY %'] = probabilities['PROBABILITY %']

In [286]:
inputs

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,CLASS_OF_INCOME,PROBABILITY %
0,25,Private,Some-college,10,Divorced,Other-service,Own-child,Black,Male,0,0,38,United-States,<=50K,99.98
1,51,Local-gov,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,80,United-States,>50K,95.61
2,32,Private,Assoc-acdm,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,62,United-States,<=50K,55.39
3,51,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,25,United-States,>50K,75.53
4,42,Private,Some-college,10,Divorced,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K,93.50
5,39,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,1887,40,United-States,>50K,99.64
6,24,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K,79.08
7,52,Private,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,1741,38,United-States,>50K,90.86
8,58,?,1st-4th,2,Married-spouse-absent,?,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,99.66
9,43,Private,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,>50K,88.81
10,31,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K,86.45
11,28,Private,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,75.68
12,31,Federal-gov,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K,99.93
13,61,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2051,20,United-States,>50K,99.88
14,26,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,40,United-States,<=50K,99.46
15,46,Private,Bachelors,13,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K,97.49
16,62,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K,83.99
17,50,Private,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,<=50K,80.21
18,18,Private,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,5,United-States,<=50K,100.00
19,23,Private,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,48,United-States,<=50K,91.17
20,21,Private,Some-college,10,Never-married,Sales,Own-child,White,Female,0,1762,28,United-States,<=50K,59.16
21,46,Private,Assoc-acdm,12,Married-civ-spouse,Transport-moving,Husband,Other,Male,0,0,36,United-States,<=50K,61.43
22,38,Private,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,0,40,United-States,<=50K,98.52
23,53,Private,12th,8,Divorced,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K,99.96
24,53,Private,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K,55.90
25,50,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,54.83
26,26,Private,HS-grad,9,Never-married,Other-service,Unmarried,White,Male,0,0,25,United-States,<=50K,99.92
27,46,Local-gov,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,8614,0,55,United-States,>50K,97.83
28,44,Local-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K,66.26
29,36,Local-gov,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K,78.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,84.04
532,34,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,94.77
533,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,93.67
534,37,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,98.80
535,22,Private,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,99.90
536,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,<=50K,76.87
537,30,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,98.10
538,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,99.76
539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,57.42
540,45,State-gov,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,99.90
541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,99.64
542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,87.39
543,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,96.15
544,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,98.47
545,39,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,<=50K,72.95
546,37,Private,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,92.90
547,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,89.91
548,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,>50K,71.29
549,43,State-gov,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,98.59
550,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,68.11
551,32,Private,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,96.63
552,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K,58.08
553,32,Private,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,91.45
554,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,89.79
555,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,96.83
556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,>50K,66.19
557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K,82.20
558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,98.25
559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,99.98
560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,99.99